body {
    background: #008080;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    user-select: none;
    font-weight: 300;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

#start-bar {
    background: #c0c0c0;
    height: 2.5rem;
    position: absolute;
    bottom: 0;
    width: calc(100% - 1rem);
    display: flex;
    padding: 0.5rem;
    z-index: 999999999;
    justify-content: space-between;
    box-shadow: 0 -2px #fffdfc, 0 -4px #cce9eb;
}
